// greys
$white: #fff;
$grey_lighter: #f5f6f9;
$grey_light: #d3dae6;
$grey: #ccc;
$grey_dark: #999;
$grey_darker: #555;
$black: #000;

// Yellows
$yellow_light: #ffefd5;
$yellow: #ffa600;
$yellow_dark: #ff6700;

// Pinks
$pink_light: #ffdfe7;
$pink: #fe005f;
$pink_dark: #fd5e49;

// Blues
$blue_light: #d9f4ff;
$blue: #429df9;
$blue_dark: #4c1bce;

// Oranges
$orange_light: #feefd8;
$orange: #ffa908;
$orange_dark: #fd712c;

// Greens
$green_light: #eef7f5;
$green: #7fcebd;
$green_dark: #7fb3ce;

// Purples
$purple_light: #ccbcf4;
$purple: #5f4c91;
$purple_dark: #180d4d;


$primary_text: #14104a;
