/* Fonts */

@font-face {
  font-family: Uni;
  src: url('/fonts/uni0553.ttf');
}

/* Layout */

$header_height: 56px;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: arial;
  font-weight: 100;
  font-family: Uni;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:focus {
  outline: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.btn {
  &.btn-xs {
    padding: 0.125rem 0.25rem;
    font-size: 0.625rem;
  }
}
